<%- include('components/header') -%>

<% for(let article of articles){ %>

  <article>
     
      <h1><%= article['title'] %> </h1>
      <p><%= article['description'] %> </p>
      <img src="/images/<%= article['image'] %>" width="400" height="300">
      <p><%= article['content'] %> </p>
  </article>    

<% } %>

<%- include('components/footer') -%>